* {
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-image: url('../images/estrela_1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.caixa {
    position: relative;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    font: bold 2em 'Century Gothic';
    text-transform: uppercase;
}

.caixa::before, .caixa::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 600% 600%;
    background-repeat: no-repeat;
    border-radius: 600px;
    animation: AnimarBorda 10s linear infinite;
}

@keyframes AnimarBorda {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.caixa::after {
    filter: blur(50px);
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    flex-wrap: wrap; 
}

.box, .box_1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    width: 90%; 
    max-width: 900px;
    height: auto; 
    border: 2px solid aqua;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
    text-align: justify;
}

.card-content {
    color: white;
}

.title_card {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card_content {
    font-size: 1em;
}

.exit {
    color: white;
}

footer {
    color: aqua;
    height: 60px;
    position: fixed;
    right: 20px; 
    bottom: 0;
    background: transparent;
    font-size: 20px;
}

.home {
    text-decoration: none;
    color: white;
}

.home:hover {
    color: aqua;
}

.direitos {
    display: flex;
    justify-content: center;
}


@media (max-width: 1200px) {
    .container {
        gap: 50px; 
    }

    .card {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .caixa {
        width: 150px;
        height: 150px;
    }

    .title {
        margin-top: 50px;
    }

    .footer {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column; 
        gap: 30px;
    }

    .card {
        font-size: 16px;
        padding: 10px; 
    }

    .title_card {
        font-size: 1.2em; 
    }

    .footer {
        font-size: 14px;
    }
}