* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-image: url('../images/estrela_1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
}

main {
    margin-top: 50px;
}

.caixa {
    position: relative;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    font: bold 2em 'Century Gothic';
    text-transform: uppercase;
}


.caixa::before, .caixa::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 600% 600%; /* Ajustado para uma animação contínua */
    background-repeat: no-repeat;
    border-radius: 600px;
    animation: AnimarBorda 10s linear infinite;
}


@keyframes AnimarBorda {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.caixa::after {
    filter: blur(50px);
}




.photo {
    display: flex;
    justify-content: center;
    margin: 20px;
}


.photo_1 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid blue;
    position: relative;
    overflow: hidden;
}


.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    color: white;
}


.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    margin-top: 10px;
}


.github, .linkedin, .email, .whatsapp {
    color: darkgray;
    text-decoration: none;
    opacity: 0.4;
    transition: transform 0.7s ease, color 0.3s ease;
}


.github:hover, .linkedin:hover, .email:hover, .whatsapp:hover {
    transform: scale(1.5);
    color: white;
    opacity: 1;
}


.works {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    gap: 25px;
}


.about_2, .skill, .language, .help, .project {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: color 0.3s ease;
}


.about_2:hover, .skill:hover, .language:hover, .help:hover, .project:hover {
    color: aqua;
}


footer {
    margin-top: 100px;
    color: white;
    text-align: center;
}